<template>
	<div class="container">
		<h1>Oliver Bøving</h1>
		<p>
			<center><i>Født i 1997, Kommunikation/IT og Design studerende på HTX Lyngby</i></center>
		</p>
		<div>
			<template v-for="c in posts">
				<template v-if="c.opts.layout">
					<template v-if="c.opts.layout === 'image'">
						<div class="card small image" :style="`background-image: url(${c.opts.image}); cursor: pointer; background-position: center ${c.opts.align ? c.opts.align : 'center'};`" @click="goto(c)">
							<div class="title">{{c.title}}</div>
						</div>
					</template>
					<template v-if="c.opts.layout === 'inline'">
						<div class="card inline" :style="`cursor: pointer;`" @click="goto(c)">
							<div v-html="c.opts.content"></div>
							<div class="title">{{c.title}}</div>
						</div>
					</template>
				</template>
				<template v-else>
					<div class="card small">
						<router-link :to="`/posts/${c.id}`" style="float: right">Link</router-link>
						<div class="post" v-html="c.content"></div>
					</div>
				</template>
			</template>
		</div>
	</div>
</template>

<script>
import content from '../content/'

export default {
	methods: {
		goto (c) {
			this.$router.push(`/posts/${c.id}`)
		}
	},

	computed: {
		posts: () => content
	}
}

</script>

<style>
.card {
	padding: 2em;
	margin: 2em 0;
	background-color: #fff;
	box-shadow: 0 5px 7px 3px rgba(0, 0, 0, .2);
	position: relative;
}

.card.small {
	height: 70vh;
	overflow: hidden;
}

.card:hover .title {
	opacity: 1;
}

.card .title {
	opacity: 0;
	transition: all 200ms ease;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	color: white;
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);
	padding: 1em;
}

.card.image {
	background-size: cover;
  background-position: center center;
}

.card.inline {
	padding: 0;
}
</style>
