<template>
	<div class="container post">
		<div v-html="content" class="card"></div>
	</div>
</template>

<script>
import c from '../content'

export default {
	computed: {
		content: state => c.filter(a => a.id == state.$route.params.id)[0].content
	}
}
</script>

<style>
.post img {
	max-width: 90%;
	display: block;
	margin: 0 auto;
	box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.2);
	padding: 1em;
}

.video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

h1, h2 {
	text-align: center;
}
</style>
