<template>
  <div id="app">
  	<header class="site-header">
  		<router-link to="/"><h1>Oliver Bøving</h1></router-link>
  	</header>
  	<transition name="slide-fade" mode="out-in">
    	<router-view></router-view>
    </transition>
  </div>
</template>

<script>
export default {
  data () {
    return {
      msg: 'Hello Vue!'
    }
  }
}
</script>

<style>
@import 'https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i|Quicksand';

body {
  font-family: 'Droid Serif', sans-serif;
  color: #333;
  font-size: 1.2rem;
}

a {
	text-decoration: none;
	color: #17deb9;
}

a:hover {
	text-decoration: underline;
}

p {
	line-height: 2rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Quicksand', sans-serif;
	line-height: 1em;
	margin-top: 1.6em;
}

.container {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	text-align: justify;
}

.container img {
	max-width: 100%;
}

.site-header {
	position: fixed;
	top: 0;
	left: 0;
}

.site-header h1 {
	margin: 0.7em;
	padding: 0;
	color: rgba(0, 0, 0, 0.4);
	font-size: 1rem;
}

.slide-fade-enter-active {
  transition: all .2s ease;
}
.slide-fade-leave-active {
  transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-active {
  padding-left: 10px;
  opacity: 0;
}
</style>
